.draggable-element {
  position: relative;
}
.drag-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: aquamarine;
  display: none;
}
.draggable-element:hover .drag-button {
  display: block;
}

.tb-modifiable:hover {
  border: 1px solid blue;
  position: relative;
}

.tb-toolbar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.tb-modifiable:hover .tb-toolbar {
  display: block;
}
