.draggable-element {
  position: relative;
}
.drag-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: aquamarine;
  display: none;
}
.draggable-element:hover .drag-button {
  display: block;
}
